<div id="nveComponentContainer">
  <span class="nveComponentHeader">USER-SINGLE COMPONENT</span>

  <!--TABLE OUTPUT-->
  <!--https://www.w3schools.com/css/css_table.asp-->
  <!--https://www.w3schools.com/css/tryit.asp?filename=trycss_table_fancy-->
  <table id="orgdata">
    <tr>
      <th>ID</th>
      <th>ORGNAME</th>
      <th>DEPNAME</th>
      <th>DEPBOSS</th>
      <th>RESPONDER</th>
      <th>BEGINDATE</th>
      <th>ENDDATE</th>
    </tr>
    <tr>
      <td>{{orgdata.id}}</td>
      <td>{{orgdata.orgName}}</td>
      <td>{{orgdata.depName}}</td>
      <td>{{orgdata.depBoss}}</td>
      <td>{{orgdata.responder}}</td>
      <td>{{orgdata.dateBegin}}</td>
      <td>{{orgdata.dateEnd}}</td>
    </tr>
  </table>

</div>
