<div id="nveComponentContainer">
  <span class="nveComponentHeader">USER-SINGLE COMPONENT</span>

  <!--TABLE OUTPUT-->
  <!--https://www.w3schools.com/css/css_table.asp-->
  <!--https://www.w3schools.com/css/tryit.asp?filename=trycss_table_fancy-->
  <table id="userdata">
    <tr>
      <th>ID</th>
      <th>PERSNUMBER</th>
      <th>FIRSTNAME</th>
      <th>LASTNAME</th>
      <th>MIDLENAME</th>
      <th>LOGIN</th>
      <th>POSITION</th>
      <th>ACCESS</th>
    </tr>
    <tr>
      <td>{{user.userId}}</td>
      <td>{{user.personalNumber}}</td>
      <td>{{user.firstName}}</td>
      <td>{{user.lastName}}</td>
      <td>{{user.middleName}}</td>
      <td>{{user.login}}</td>
      <td>{{user.positionRus}}</td>
      <td>{{user.accessLevel}}</td>
    </tr>
  </table>

</div>
