<div id="nveComponentContainer">
  <span class="nveComponentHeader">USER-LIST COMPONENT</span>

  <table id="userdata">
    <tr>
      <th>ID</th>
      <th>PERSNUMBER</th>
      <th>FIRSTNAME</th>
      <th>LASTNAME</th>
      <th>MIDLENAME</th>
      <th>POSITION</th>
      <th>LOGIN</th>
      <th>ACCESS</th>
    </tr>

    <!--
      BUG:
      - IntelliJ IDEA показывает Weak Warning: Unresolved variable personalNumber
        и предлагает заменить на Indexer Access синтаксис (см.ниже),
        но вывод работает и в таком виде;
    -->
    <!--
    <tr *ngFor="let user of users">
      <td>{{user.userId}}</td>
      <td>{{user.personalNumber}}</td>
      <td>{{user.firstName}}</td>
      <td>{{user.lastName}}</td>
      <td>{{user.middleName}}</td>
      <td>{{user.positionRus}}</td>
      <td>{{user.login}}</td>
      <td>{{user.accessLevel}}</td>
    </tr>
    -->

    <!--Indexer Access-->
    <tr *ngFor="let user of users">
      <td>{{user["userId"]}}</td>
      <td>{{user["personalNumber"]}}</td>
      <td>{{user["firstName"]}}</td>
      <td>{{user["lastName"]}}</td>
      <td>{{user["middleName"]}}</td>
      <td>{{user["positionRus"]}}</td>
      <td>{{user["login"]}}</td>
      <td>{{user["accessLevel"]}}</td>
    </tr>

  </table>

</div>
