<!--ВЫВОД ДАННЫХ ИЗ СЕРВИСА SERVICE-USER-->
<hr>
<h2>SERVICE-USER</h2>
<p class="component-header">USER-LIST COMPONENT</p>
<p>
  <!--test0-->
  <!--Hello User-->

  <!--Get Single Record-->
  <!--test1-->
  <!--{{user.userId}}-->

  <!--test2-->
  <!--{{user.userId}}: {{user.name}} {{user.surname}} ({{user.login}})-->
</p>

<!--TABLE OUTPUT-->
<!--https://www.w3schools.com/css/css_table.asp-->
<!--https://www.w3schools.com/css/tryit.asp?filename=trycss_table_fancy-->
<table id="userdata">
  <tr>
    <th>USERID</th>
    <th>NAME</th>
    <th>SURNAME</th>
    <th>LOGIN</th>
  </tr>
  <tr>
    <td>{{user.userId}}</td>
    <td>{{user.name}}</td>
    <td>{{user.surname}}</td>
    <td>{{user.login}}</td>
  </tr>
</table>
<br>
