<!--ВЫВОД ДАННЫХ ИЗ СЕРВИСА SERVICE-TIMEDATA-->
<hr>
<h2>SERVICE-TIMEDATA</h2>
<p class="component-header">TIMEDATA-LIST COMPONENT</p>
<p>
  <!--test0-->
  <!--Hello Timedata-->

  <!--Get Single Record-->
  <!--test1-->
  <!--{{timedata.id}}-->

  <!--test2-->
  <!--{{timedata.id}}: {{timedata.userId}} {{timedata.date}} {{timedata.hour}} {{timedata.type}}-->
</p>

<!--TABLE OUTPUT-->
<!--https://www.w3schools.com/css/css_table.asp-->
<!--https://www.w3schools.com/css/tryit.asp?filename=trycss_table_fancy-->
<table id="timedata">
  <tr>
    <th>ID</th>
    <th>USERID</th>
    <th>DATE</th>
    <th>HOUR</th>
    <th>TYPE</th>
  </tr>
  <tr>
    <td>{{timedata.id}}</td>
    <td>{{timedata.userId}}</td>
    <td>{{timedata.date}}</td>
    <td>{{timedata.hour}}</td>
    <td>{{timedata.type}}</td>
  </tr>
</table>
<br>
